@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: 'Jost', sans-serif;
  --main-text-color: rgba(255, 255, 255, 0.6);
  --section-text-color: #2e2e2e;
}

body {
  font-family: var(--primary-font);
  background: antiquewhite;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  &.fixscreen {
    overflow: hidden;
  }
}

[class*='__container'] {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 1.3rem;
}

ul {
  list-style: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  height: 8rem;
  background-color: rgba(0, 0, 0, 87%);
  z-index: 100;
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 3%);
  transition: all 0.4s ease-in-out;
}

.text {
  font-family: var(--primary-font);
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 400;
  text-align: center;
  padding-top: 8rem;
  margin-bottom: 5rem;
  color: var(--section-text-color);
  @media (max-width: 27rem) {
    font-size: 2.5rem;
  }
}

.header {
  width: 100%;
  position: absolute;

  &__logo {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: var(--main-text-color);
    text-transform: uppercase;
    text-decoration: none;
    @media (max-width: 22.5rem) {
      font-size: 1.5rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.3rem;
    z-index: 1;
  }

  &__navigations {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 3.8rem;
    @media (max-width: 50rem) {
      display: none;
    }
    &_open {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: auto;
      gap: 8rem;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 1),
        rgba(54, 54, 54, 0.7)
      );
    }
  }

  &__link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.9;
      color: #fff;
    }
    @media (max-width: 50rem) {
      font-size: 3rem;
    }
  }

  &__menu {
    display: none;
    @media (max-width: 50rem) {
      display: block;
      cursor: pointer;
    }
    > span {
      display: block;
      width: 3rem;
      height: 2px;
      background-color: var(--main-text-color);
      transform-origin: 5px 1px;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.9;
        color: #fff;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        width: 3rem;
        transform: rotate(-45deg);
      }
    }
  }
}

.content {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

  &__subtext {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    color: #c3bb66;
    @media (max-width: 50rem) {
      font-size: 2rem;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    font-family: var(--primary-font);
    font-weight: 700;
    height: 10rem;
    font-size: 10rem;
    color: var(--main-text-color);
    @media (max-width: 50rem) {
      font-size: 8rem;
    }
    @media (max-width: 32rem) {
      font-size: 4.5rem;
    }
  }

  &__images {
    display: flex;
    justify-content: center;
  }

  &__img {
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    z-index: -1;
  }
}

.about {
  margin-top: 8rem;

  &__container {
    display: flex;
    gap: 3rem;
    @media (max-width: 50rem) {
      gap: 2rem;
      max-width: 60rem;
      flex-direction: column;
    }
  }
  &__img {
    width: 30rem;
    border-radius: 10px;
    box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 20%);
  }
  &__title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    min-width: 50%;
    color: var(--section-text-color);
  }

  &__description {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    @media (max-width: 50rem) {
      font-size: 2rem;
    }
  }
  &__email {
    font-family: var(--primary-font);
    font-weight: 600;
    text-decoration: none;
    color: var(--section-text-color);
  }
}

.features {
  margin-top: 10rem;
  margin-bottom: 10rem;

  &__wrapper {
    display: grid;
    margin-top: 3rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    @media (max-width: 50rem) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  }

  &__highlight {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    @media (max-width: 50rem) {
      gap: 3rem;
    }
    @media (max-width: 27rem) {
      gap: 1rem;
    }
  }

  &__images {
    width: 16rem;
    @media (max-width: 50rem) {
      width: 13rem;
    }
    @media (max-width: 34.3rem) {
      width: 11rem;
    }
    @media (max-width: 22.5rem) {
      width: 9rem;
    }
  }

  &__img {
    width: 10rem;
    @media (max-width: 50rem) {
      width: 8rem;
    }
    @media (max-width: 22.5rem) {
      width: 7rem;
    }
  }
}

.gallery {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    justify-content: center;
  }
  &__image {
    position: relative;
    cursor: pointer;
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.4);
    }
  }
  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: var(--main-text-color);
    transition: all 0.4s ease;
    opacity: 0;
    &:hover {
      opacity: 1;
      &:hover,
      & > * {
        transform: translateY(0);
      }
    }
    &__overlay,
    & > * {
      transform: translateY(5rem);
      transition: transform 0.4s;
    }
  }
  &__title {
    font-size: 7em;
    font-weight: 600;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: #000;
  padding: 3rem;
  color: #fff;

  &__copyright {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.5rem;
  }
  &__icons {
    display: flex;
    gap: 1rem;
  }
  &__text {
    font-family: var(--primary-font);
    font-size: 1.5rem;
  }
  &__img {
    padding-top: 1rem;
    width: 3rem;
    &:hover {
      opacity: 0.7;
    }
  }
}
