@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: 'Jost', sans-serif;
  --main-text-color: rgba(255, 255, 255, 0.6);
  --section-text-color: #2e2e2e;
}

body {
  font-family: var(--primary-font);
  &.fixscreen {
    overflow: hidden;
  }
}

[class*='__container'] {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 1.3rem;
}

ul {
  list-style: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  height: 8rem;
  background-color: rgba(0, 0, 0, 87%);
  z-index: 100;
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 3%);
  transition: all 0.4s ease-in-out;
}

.text {
  font-family: var(--primary-font);
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 400;
  text-align: center;
  padding-top: 8rem;
  margin-bottom: 5rem;
  color: var(--section-text-color);
}

.header {
  width: 100%;
  position: absolute;

  &__logo {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 54px;
    color: var(--main-text-color);
    text-transform: uppercase;
    text-decoration: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.3rem;
    z-index: 1;
  }

  &__navigations {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 3.8rem;
    @media (max-width: 50rem) {
      display: none;
    }
    &_open {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: auto;
      gap: 8rem;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 1),
        rgba(54, 54, 54, 0.7)
      );
      transition: all 0.4s ease;
    }
  }

  &__link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.9;
      color: #fff;
    }
    @media (max-width: 50rem) {
      font-size: 3rem;
    }
  }

  &__menu {
    display: none;
    @media (max-width: 50rem) {
      display: block;
      cursor: pointer;
    }
    > span {
      display: block;
      width: 3rem;
      height: 2px;
      background-color: var(--main-text-color);
      transform-origin: 5px 1px;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.9;
        color: #fff;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        width: 3rem;
        transform: rotate(-45deg);
      }
    }
  }
}

.content {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #0000008f, transparent);

  &__subtext {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    color: #c3bb66;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 1.2;
    font-size: 10rem;
    color: var(--main-text-color);
  }

  &__img {
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    z-index: -1;
  }
}

.about {
  margin-top: 8rem;

  &__container {
    display: flex;
  }
  &__title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 5rem;
    color: var(--section-text-color);
    max-width: 50%;
  }

  &__description {
  }
}

.features {
  margin-top: 10rem;
  margin-bottom: 10rem;

  &__wrapper {
    display: grid;
    margin-top: 3rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  &__highlight {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }

  &__images {
    width: 16rem;
  }

  &__img {
    width: 10rem;
  }
}

.gallery {
  &__images {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2, 50rem);
    justify-items: center;
  }

  &__img {
    width: 100%;
  }
}
