@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --main-text-color: rgba(255, 255, 255, 0.6);
  --section-text-color: #888;
}

body {
  font-family: 'Poppins', sans-serif;
}

[class*='__container'] {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 1.3rem;
}

ul {
  list-style: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 3%);
  transition: all 0.4s ease-in-out;
}

.text {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  padding-top: 8rem;
  margin-bottom: 2.4rem;
  color: var(--section-text-color);
}

.header {
  width: 100%;
  position: absolute;

  &__logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 54px;
    color: var(--main-text-color);
    text-transform: uppercase;
    text-decoration: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.3rem;
    z-index: 1;
  }

  &__navigations {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 3.8rem;
  }

  &__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
    &:hover {
      opacity: 1;
    }
  }
}

.burger {
  position: relative;
  &__line {
    display: none;
    @media (max-width: 45.5rem) {
      display: block;
      content: '';
      position: absolute;
      top: calc(100% - 4rem);
      right: 2.3rem;
      width: 3rem;
      height: 0.2rem;
      background: #888;
      &:first-child {
        top: -3rem;
        width: 2rem;
      }
      &:last-child {
        top: -2rem;
        width: 1rem;
      }
    }
    &-active::before {
      &:nth-child(1) {
        transform: translate(6px, -1px) rotate(45deg);
      }
      &:nth-child(3) {
        transform: scale(0);
      }
      &:nth-child(2) {
        transform: translate(3px, -20px) rotate(-45deg);
      }
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  background-image: url(../img/BG.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;

  &__text {
    display: flex;
    align-items: center;
    max-width: 137rem;
    font-size: 12rem;
    color: var(--main-text-color);
  }
}

.features {
  margin-top: 10rem;
  margin-bottom: 10rem;

  &__wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
  }

  &__highlight {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }

  &__images {
    width: 20rem;
  }

  &__img {
    width: 10rem;
  }
}

.gallery {
  &__images {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2, 50rem);
    justify-items: center;
  }

  &__img {
    width: 100%;
  }
}
